# OS junk files
[Tt]humbs.db
*.DS_Store
# Project files & directories
venv/
media/
staticfiles/
logs/
*.pyc
*.swp
*.swo
.env
.env*
.coverage

# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3

.python-version
.artifacts/
