[tool.poetry]
name = "ibms"
version = "2.8.9"
description = "Integrated Business Management System corporate application"
authors = ["Ashley Felton <ashley.felton@dbca.wa.gov.au>"]
license = "Apache-2.0"
package-mode = false

[tool.poetry.dependencies]
python = ">=3.11"
django = "4.2.15"
psycopg = "3.2.1"
dbca-utils = "2.0.2"
django-extensions = "3.2.3"
python-dotenv = "1.0.1"
dj-database-url = "2.2.0"
gunicorn = "22.0.0"
django-crispy-forms = "2.3"
crispy-bootstrap5 = "2024.2"
xlrd = "2.0.1"  # TODO: deprecate
xlutils = "2.0.0"  # TODO: deprecate
xlwt = "1.3.0"  # TODO: deprecate
openpyxl = "3.1.5"
webtemplate-dbca = "1.7.1"
whitenoise = {version = "6.7.0", extras = ["brotli"]}
mixer = "7.2.2"

[tool.poetry.group.dev.dependencies]
ipython = "^8.27.0"
ipdb = "^0.13.13"
pre-commit = "^3.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
