{% extends "ibms/form.html" %}

{% block extra_js %}
<script type="text/javascript">
    // Utility function to update Quarter select field when financial year changes.
    function updateQuarter(finYear) {
        $("select#id_quarter")[0].disabled = true;
        $.ajax({
            type: "GET",
            url: "{% url 'ajax_quarter' %}",
            data: {"financialYear": finYear},
            success: function(data) {
                select = $("select#id_quarter")[0];
                select.options.length = 0;
                select.options.add(new Option('--------', ''));
                for (i in data.choices) {
                    select.options.add(new Option(data.choices[i][1], data.choices[i][0]));
                }
            }
        });
        $("select#id_quarter")[0].disabled = false;
    };
    // Utility function to update Quarter select field when financial year changes.
    function updateSfmMetricId(finYear) {
        $("select#id_sfm_metric_id")[0].disabled = true;
        $.ajax({
            type: "GET",
            url: "{% url 'ajax_sfmmetric_metricid' %}",
            data: {"financialYear": finYear},
            success: function(data) {
                select = $("select#id_sfm_metric_id")[0];
                select.options.length = 0;
                select.options.add(new Option('--------', ''));
                for (i in data.choices) {
                    select.options.add(new Option(data.choices[i][1], data.choices[i][0]));
                }
            }
        });
        $("select#id_sfm_metric_id")[0].disabled = false;
    };

    function getMeasurementType(typeId) {
        // Pass in a measurement type int, returns a string of the type.
        // Used to match an input field.
        var measurementTypes = {{ measurement_types|safe }};
        for (var i=0; i<measurementTypes.length; i++) {
            if (measurementTypes[i][0] == typeId) {
                return measurementTypes[i][1];
            }
        }
        return 'quantity';  // No match.
    };

    // Utility function to query for MeasurementValue object values.
    function updateMeasurementValue(quarter, costCentre, sfmMetric) {
        $.ajax({
            type: "GET",
            url: "{% url 'ajax_measurementvalue' %}",
            data: {
                "quarter": quarter,
                "costCentre": costCentre,
                "sfmMetric": sfmMetric
            },
            success: function(data) {
                $("span#id_descriptor_text").text(data.sfmMetric.descriptor);
                $("span#id_example_text").text(data.sfmMetric.example);
                for (var i=0; i<data.measurementValues.length; i++) {
                    var mv = data.measurementValues[i];
                    var mt = getMeasurementType(mv.measurementType_id);
                    $("input[name='" + mt + "']").val(mv.value);
                    $("textarea[name='comment']").val(mv.comment);
                }
            }
        });
    };
    // Check if all select lists have values.
    function checkValues() {
        var finYear = $("select#id_financial_year").val();
        var quarter = $("select#id_quarter").val();
        var costCentre = $("select#id_cost_centre").val();
        var sfmMetric = $("select#id_sfm_metric_id").val();

        if (finYear && quarter && costCentre && sfmMetric) {
            updateMeasurementValue(quarter, costCentre, sfmMetric);
            $("div#id_descriptor_row").show();
            $("div#id_measurement_fields").show();
            $("div#id_example_row").show();
            $("input#submit-id-save").removeAttr("disabled");
        } else {
            $("div#id_descriptor_row").hide();
            $("div#id_measurement_fields").hide();
            $("div#id_example_row").hide();
            $("input#submit-id-save").attr("disabled", "disabled");
        }
    };
    // Clear value input fields.
    function clearInputValues() {
        $("input, textarea").not(":input[type=submit],:input[type=hidden]").val("");
    };

    // ------------------------------------
    $(function() {
        $("select#id_quarter")[0].disabled = true;
        var finYear = $("select#id_financial_year").val();
        checkValues();

        // Check the Financial year select. If it has a value (if form fails validation, etc),
        // then ensure that the other selects are enabled.
        if (finYear) {
            $("select.select").each(function() {
                this.disabled = false;
            });
        };

        // If the Financial Year select list changes, update the options for
        // cost centre, region/branch and division.
        $("select#id_financial_year").change(function() {
            finYear = $("select#id_financial_year").val();
            updateQuarter(finYear);
            updateSfmMetricId(finYear);
        });
        $(".select").change(function() {
            clearInputValues();
            checkValues();
        });
    });
</script>
{% endblock %}
