{% extends "ibms/form.html" %}

{% block extra_js %}
<script type="text/javascript">
    // Utility function to update Cost Centre select field when financial year changes.
    function updateCostCentre(finYear) {
        $("select#id_cost_centre")[0].disabled = true;
        $.ajax({
            type: "GET",
            url: "{% url 'ajax_glpivdownload_costcentre' %}",
            data: {"financialYear": finYear},
            success: function(data) {
                select = $("select#id_cost_centre")[0];
                select.options.length = 0;
                select.options.add(new Option('--------', ''));
                for (i in data.choices) {
                    select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                }
            }
        });
        $("select#id_cost_centre")[0].disabled = false;
    };

    // Utility function to update region/branch select field when financial year changes.
    function updateRegionBranch(finYear) {
        $("select#id_region")[0].disabled = true;
        $.ajax({
            type: "GET",
            url: "{% url 'ajax_glpivdownload_regionbranch' %}",
            data: {"financialYear": finYear},
            success: function(data) {
                select = $("select#id_region")[0];
                select.options.length = 0;
                select.options.add(new Option('--------', ''));
                for (i in data.choices) {
                    select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                }
            }
        });
        $("select#id_region")[0].disabled = false;
    };

    // Utility function to update service field when FY, CC or Region/Branch changes.
    function updateService(finYear, costCentre, regionBranch) {
        $("select#id_service")[0].disabled = true;
        if (costCentre) {
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_glpivdownload_service' %}",
                data: {"financialYear": finYear, "costCentre": costCentre},
                success: function(data) {
                    select = $("select#id_service")[0];
                    select.options.length = 0;
                    select.options.add(new Option('--------', ''));
                    for (i in data.choices) {
                        select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                    }
                }
            });
        }
        else if (regionBranch) {
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_glpivdownload_service' %}",
                data: {"financialYear": finYear, "regionBranch": regionBranch},
                success: function(data) {
                    select = $("select#id_service")[0];
                    select.options.length = 0;
                    select.options.add(new Option('--------', ''));
                    for (i in data.choices) {
                        select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                    }
                }
            });
        }
        $("select#id_service")[0].disabled = false;
    };

    // Utility function to update budget area select field when cost centre changes.
    function updateBudgetArea(finYear, costCentre, regionBranch) {
        $("select#id_budget_area")[0].disabled = true;
        if (costCentre) {
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_ibmdata_budgetarea' %}",
                data: {"financialYear": finYear, "costCentre": costCentre},
                success: function(data) {
                    select = $("select#id_budget_area")[0];
                    select.options.length = 0;
                    select.options.add(new Option('--------', ''));
                    for (i in data.choices) {
                        select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                    }
                }
            });
        }
        else if (regionBranch) {
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_ibmdata_budgetarea' %}",
                data: {"financialYear": finYear, "regionBranch": regionBranch},
                success: function(data) {
                    select = $("select#id_budget_area")[0];
                    select.options.length = 0;
                    select.options.add(new Option('--------', ''));
                    for (i in data.choices) {
                        select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                    }
                }
            });
        }
        $("select#id_budget_area")[0].disabled = false;
    };

    // Utility function to update project sponsor select field when cost centre changes.
    function updateProjectSponsor(finYear, costCentre, regionBranch) {
        $("select#id_project_sponsor")[0].disabled = true;
        if (costCentre) {
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_ibmdata_projectsponsor' %}",
                data: {"financialYear": finYear, "costCentre": costCentre},
                success: function(data) {
                    select = $("select#id_project_sponsor")[0];
                    select.options.length = 0;
                    select.options.add(new Option('--------', ''));
                    for (i in data.choices) {
                        select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                    }
                }
            });
        }
        else if (regionBranch) {
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_ibmdata_projectsponsor' %}",
                data: {"financialYear": finYear, "regionBranch": regionBranch},
                success: function(data) {
                    select = $("select#id_project_sponsor")[0];
                    select.options.length = 0;
                    select.options.add(new Option('--------', ''));
                    for (i in data.choices) {
                        select.options.add(new Option(data.choices[i][0], data.choices[i][1]));
                    }
                }
            });
        }
        $("select#id_project_sponsor")[0].disabled = false;
    };

    function enableAllWidgets() {
        $("select.select").each(function() {
            this.disabled = false;
        });
        $("input.checkboxselectmultiple").each(function() {
            this.disabled = false;
        });
    };

    function disableSomeSelects() {
        // Deselect and disable the Service, Budget and Project Sponsor selects.
        var widget = $("select#id_service")[0];
        widget.disabled = true;
        widget.selectedIndex = 0;
        widget.options.length = 0;
        var widget = $("select#id_budget_area")[0];
        widget.disabled = true;
        widget.selectedIndex = 0;
        widget.options.length = 0;
        var widget = $("select#id_project_sponsor")[0];
        widget.disabled = true;
        widget.selectedIndex = 0;
        widget.options.length = 0;
    };
    // ------------------------------------
    $(function() {
        var finYear = $("select#id_financial_year").val();
        // Check the Financial year select. If it has a value (if form fails validation, etc),
        // then ensure that the other selects are enabled.
        if (finYear) {
            enableAllWidgets();
        };

        // If the Financial Year select list changes: enable CC and region/branch,
        // deselect the disable the others.
        // Also update the options for cost centre and region/branch.
        $("select#id_financial_year").change(function() {
            finYear = $("select#id_financial_year").val();
            enableAllWidgets();
            updateCostCentre(finYear);
            updateRegionBranch(finYear);
            //if not superuser {
            disableSomeSelects();
        });

        // If the Cost Centre select list changes, update the Service, Budget Area
        // and Project sponsor select lists.
        $("#id_cost_centre").change(function() {
            if ($("#id_cost_centre")[0].selectedIndex != 0) {
                var finYear = $("select#id_financial_year").val();
                var costCentre = $("select#id_cost_centre").val();
                // Update the fields.
                updateService(finYear, costCentre, false);
                updateBudgetArea(finYear, costCentre, false);
                updateProjectSponsor(finYear, costCentre, false);
            }
            // User selected "null" value for cost centre.
            else {
                disableSomeSelects();
            }
            // Zero the selected value of the region/branch field.
            $("#id_region")[0].selectedIndex = 0;
        });

        // If the Region/Branch select list changes, update the Service, Budget Area and Project sponsor select lists.
        $("#id_region").change(function() {
            if ($("#id_region")[0].selectedIndex != 0) {
                var finYear = $("select#id_financial_year").val();
                var regionBranch = $("select#id_region").val();
                // Update the fields.
                updateService(finYear, false, regionBranch);
                updateBudgetArea(finYear, false, regionBranch);
                updateProjectSponsor(finYear, false, regionBranch);
            }
            // User selected "null" value for region/branch.
            else {
                disableSomeSelects();
            }
            // Zero the selected value of the region/branch field.
            $("#id_cost_centre")[0].selectedIndex = 0;
        });
    });
</script>
{% endblock %}
