{% extends "base_ibms.html" %}
{% load static crispy_forms_tags %}
{% block page_content_inner %}
    <div class="row py-1">
        <div class="col">
            <h1>{{ title }}</h1>
            <p>
                Downloads as of: <strong>{{ download_period }}</strong>
            </p>
            <div class="alert alert-primary" role="alert">
                <strong>Option 1</strong>: click the link below to download a spreadsheet used to bulk-update codes.
            </div>
            <p>
                <a href="{{ sharepoint_ibms }}Shared Documents/IBMS Admin/IBMS Data Amendment.xlsx?download=1"
                   target="_blank">IBMS Data Amendment template download</a>
            </p>
            <div class="alert alert-primary" role="alert">
                <strong>Option 2</strong>: use the options below to filter data and amend individual codes.
            </div>
            {% crispy form %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if object_list %}
                <p>Results: {{ object_count }}</p>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Fin. year</th>
                            <th>Identifier</th>
                            <th>Cost centre</th>
                            <th>Region/branch</th>
                            <th>Service</th>
                            <th>Project</th>
                            <th>Job</th>
                            <th>Budget area</th>
                            <th>Sponsor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.fy }}</td>
                                <td>{{ object.ibmIdentifier }}</td>
                                <td>{{ object.costCentre }}</td>
                                <td>
                                    {% if object.get_glpivdownload %}{{ object.get_glpivdownload.regionBranch }}{% endif %}
                                </td>
                                <td>
                                    {% if object.get_glpivdownload %}{{ object.get_glpivdownload.service }}{% endif %}
                                </td>
                                <td>{{ object.project }}</td>
                                <td>{{ object.job }}</td>
                                <td>{{ object.budgetArea }}</td>
                                <td>{{ object.projectSponsor }}</td>
                                <td>
                                    <a href="{% url 'ibmdata_update' pk=object.pk %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {{ javascript_context|json_script:"javascript_context" }}
    <script type="text/javascript" src="{% static 'js/ibmdata_list.js' %}"></script>
{% endblock %}
