apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibms-deployment
spec:
  template:
    spec:
      containers:
        - name: ibms
          env:
            - name: IBMS_URL
              value: 'https://ibms-uat.dbca.wa.gov.au'
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: ibms-env-uat
                  key: DATABASE_URL
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: ibms-env-uat
                  key: SECRET_KEY
            - name: SHAREPOINT_IBMS
              valueFrom:
                secretKeyRef:
                  name: ibms-env-uat
                  key: SHAREPOINT_IBMS
