apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibms-deployment
spec:
  template:
    spec:
      containers:
        - name: ibms
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: ibms-env-prod
