{% extends "base_ibms.html" %}

{% block navbar_auth %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block page_content_inner %}
<h4>Please log in with your Department username and password:</h4>
<form method="post">
    {% csrf_token %}
    <div id="div_id_username" class="form-group">
        <label for="id_username" class="col-form-label requiredField">Username<span class="asteriskField">*</span></label>
        <input type="text" name="username" required id="id_username" class="textinput textInput form-control" autofocus>
    </div>
    <div id="div_id_password" class="form-group">
        <label for="id_password" class="col-form-label  requiredField">Password<span class="asteriskField">*</span> </label>
        <input type="password" name="password" required id="id_password" class="textinput textInput form-control">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
