apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibms-deployment
  labels:
    app: ibms-deployment
spec:
  selector:
    matchLabels:
      app: ibms-deployment
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ibms-deployment
    spec:
      containers:
        - name: ibms
          image: ghcr.io/dbca-wa/ibms
          imagePullPolicy: Always
          env:
            - name: TZ
              value: 'Australia/Perth'
          resources:
            requests:
              memory: '100Mi'
              cpu: '5m'
            limits:
              memory: '2Gi'
              cpu: '1000m'
          startupProbe:
            httpGet:
              path: /livez
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 15
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /livez
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
            timeoutSeconds: 10
          securityContext:
            runAsNonRoot: true
            runAsUser: 65532
            privileged: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
      restartPolicy: Always
      terminationGracePeriodSeconds: 180
      automountServiceAccountToken: false
      tolerations:
        - key: arch
          operator: Equal
          value: arm64
          effect: NoSchedule
      affinity:
        # Set a node affinity to favour ARM64-based nodes (preference only).
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: arch
                    operator: In
                    values:
                      - arm64
        # Set a pod anti-affinity to spread workload pods between nodes (preference only).
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: ibms-deployment
                topologyKey: kubernetes.io/hostname
