name: 'Run unit tests'

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master]

jobs:
  run_tests:
    name: Run Django Tests
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
    services:
      db:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --mount type=tmpfs,destination=/var/lib/postgresql/data --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      #----------------------------------------------
      # Checkout repo
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v5
        id: checkout-repo
        with:
          fetch-depth: 0
      #----------------------------------------------
      # Install & configure uv
      #----------------------------------------------
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      #----------------------------------------------
      # Install project dependencies
      #----------------------------------------------
      - name: Install dependencies
        run: uv sync
      #----------------------------------------------
      # Run unit tests
      #----------------------------------------------
      - name: Run tests
        run: |
          uv run python manage.py collectstatic
          uv run python manage.py test --noinput --failfast --verbosity 0
